.panel-head h3 {
    float: left;
}

.btnModalInfo {
    float: left;
    padding-top: 10px;
    text-decoration: none;
}

a.btnModalInfo :visited {
    text-decoration: none;
}

.modal {
    display: none;
}